---
import Navbar from "../components/Navbar.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="generator" content={Astro.generator} />

    <title>Valby IF</title>
    <link rel="stylesheet" href="./src/css/generel.css" />
    <link rel="stylesheet" href="/src/css/index.css" />
  </head>
  <body>
    <header><Navbar /></header>

    <main>
      <div class="container">
        <h1>Galleri</h1>
        <div class="image-container">
          <div class="image"><img src="/imgs/bestyrelse_imgs/henrik_olsen.webp" alt=""></div>
          <div class="image"><img src="/imgs/bestyrelse_imgs/henrik_olsen.webp" alt=""></div>
          <div class="image"><img src="/imgs/bestyrelse_imgs/henrik_olsen.webp" alt=""></div>
          <div class="image"><img src="/imgs/bestyrelse_imgs/henrik_olsen.webp" alt=""></div>
          <div class="image"><img src="/imgs/bestyrelse_imgs/henrik_olsen.webp" alt=""></div>
          <div class="image"><img src="/imgs/bestyrelse_imgs/henrik_olsen.webp" alt=""></div>
        </div>

        <div class="popup-image">
          <span>&times;</span>
          <img src="/imgs/bestyrelse_imgs/henrik_olsen.webp" alt="">
        </div>
      </div>
    </main>

  <script>
document.querySelectorAll('.image-container img').forEach(image => {
  image.addEventListener('click', () => {
    document.querySelector('.popup-image').style.display = 'block';
    document.querySelector('.popup-image img').src = image.getAttribute('src');
  });
});

document.querySelector('.popup-image span').addEventListener('click', () => {
  document.querySelector('.popup-image').style.display = 'none';
});
    </script>

    <footer></footer>
  </body>
</html>

<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container{
    margin-top: 160px;
    position: relative;
    min-height: 100vh;
    background: #ddd;
  }

  .container h1{
    padding: 15px;
    text-align: center;
  }

  .container .image-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
  }

  .container .image-container .image{
    height:250px;
    width: 350px;
    border: 5px solid #fff;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
  }

  .container .image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
  }

  .container .image-container .image:hover img{
    transform: scale(1.1);
  }

  .container .popup-image{
    margin-top: 160px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
  }

  .container .popup-image span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
  }

  .container .popup-image img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    object-fit: cover;
    max-height: 80vh; /* Set a maximum height for the images, e.g., 60% of the viewport height */
    width: auto;
    max-width: 90%;
  }

  @media (max-width: 768px){
    .container .popup-image img{
      width: 95%;
    }
  }
</style>
