---
import Navbar from "../components/Navbar.astro";
import Hold from "../components/Hold.astro";
import Footer from "../components/Footer.astro";


const data = await fetch(
  "https://tqtbpbbdzsjfhojxiboh.supabase.co/rest/v1/Valbyhold", {
	method:"GET",
	headers: {
apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxdGJwYmJkenNqZmhvanhpYm9oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDI0NzI5NjAsImV4cCI6MjAxODA0ODk2MH0.GoHfKbDBs8vhjkVUEa2-ZInZhXK4V5b_olcyC_Aiods"
	},
}
).then((res) => res.json());

console.log(data);

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon_valby.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <meta name="generator" content={Astro.generator} />

    <title>Valby IF</title>
   
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
 
  </head>
  <body>
    <header>
      <Navbar />
    
     
    </header>

    <section class="heading">
      <h1>Holdoversigt</h1>
    </section>

     <section class="event">
      
      {
				data.map((show) => {
					return <Hold data={show} />
				})
			}

    </section>

    <footer>
      <Footer />
    </footer>
  </body>
</html>

<style>
 @font-face {
  font-family: "PoetsenOne";
  src: url("/fonts/PoetsenOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Almarai_reg";
  src: url("/fonts/Almarai-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Almarai_bold";
  src: url("/fonts/Almarai-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: "Almarai_light";
  src: url("/fonts/Almarai-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

/* Extra Bold */
@font-face {
  font-family: "Almarai_extra_bold";
  src: url("/fonts/Almarai-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "AlfaSlabOne";
  src: url("/fonts/Almarai-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
 
 .event {
   
    min-height: 100vh;
    padding: 0rem 2% 0rem;
  
  }
  body {
  
  background-color: #d9d9d9;
}

.heading {
 
  font-family: "PoetsenOne", sans-serif;
  font-size: 50px;
  color: #0e1d52;

  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 12rem 2% 0rem;

}

@media (max-width:899px) {

  .heading {
    font-size: 2.2rem;
  }
  
}

@media (max-width:599px) {

  .heading {
    font-size: 1.7rem;
    padding-top: -1.1rem;
  }
  
}

</style>
