---
import Navbar from "../components/Navbar.astro";
import ColorBar from "../components/ColorBar.astro";
import Circle1 from "../components/Circle1.astro";
import Circle2 from "../components/Circle2.astro";
import Familien from "../components/Familien.astro";
import Nyheder from "../components/NyhederComponent.astro";
import InfoContainer from "../components/InfoContainer.astro";
import FoelgMed from "../components/FoelgMed.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
import ColorBar2 from "../components/ColorBar2.astro";
import Footer from "../components/Footer.astro";
import Farvev from "../components/Farvev.astro";
import Farveh from "../components/Farveh.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="generator" content={Astro.generator} />

    <title>Valby IF</title>
    <link rel="stylesheet" href="./src/css/generel.css" />
    <link rel="stylesheet" href="/src/css/index.css" />
  </head>

  <body>
    <div class="hero">
      <video autoplay loop muted plays-inline class="back_video">
        <source src="../public/imgs/testvideo.mp4" type="video/mp4" />
      </video>
      <header><Navbar /></header>
    </div>
    <main>
      <Circle1 />
      
      <div></div>
      <div class="farvelinje1">
        <Farvev />
      </div>
      <div class="welcome">
        <h1>Velkommen til Valby IF</h1>
        <h3>
          Fællesskab fødes når <span>jeg</span> bliver til <span>os</span>
        </h3>
      </div>

      <Nyheder />

      <Circle2 />

      <InfoContainer />

      <Familien />

      <FoelgMed />

      <Nyhedsbrev />
      <Farveh />
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
