---
import Navbar from "../components/Navbar.astro";
import Circle1 from "../components/Circle1.astro";
import Circle2 from "../components/Circle2.astro";
import Familien from "../components/Familien.astro";
import Nyheder from "../components/NyhederComponent.astro";
import InfoContainer from "../components/InfoContainer.astro";
import FoelgMed from "../components/FoelgMed.astro";
import Footer from "../components/Footer.astro";
import Farvev from "../components/Farvev.astro";
import Farveh from "../components/Farveh.astro";
import Icons from "../components/Icons.astro";
import Subscribe from "../components/Subscribe.astro";
import LilleNyhedsBox from "../components/LilleNyhedsBox.astro";
import "../css/generel.css"
import "../css/index.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon_valby.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="generator" content={Astro.generator} />

    <title>Valby IF</title>
    
  </head>

  <body>
    <div class="hero">
      <video autoplay loop muted plays-inline class="back_video">
        <source src="/imgs/testvideo.mp4" type="video/mp4" />
      </video>
      <header><Navbar /></header>
    </div>
    <main>
      <Circle1 />

      <div class="farvelinje1">
        <Farvev />
      </div>
      <div class="welcome">
        <h1>Velkommen til Valby IF</h1>
        <h3>
          Fællesskab fødes når <span>JEG</span> bliver til <span>OS</span>
        </h3>
      </div>
      <LilleNyhedsBox />
      <Nyheder />

      <Circle2 />

      <InfoContainer />

      <Familien />

      <FoelgMed />
      <Subscribe />

      <Farveh />
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
