---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Valby IF</title>
		<link rel="stylesheet" href="./public/css/generel.css">
	</head>
	<body>
		<h1>Valby IF</h1>
		<h2>Hej test</h2>
		<p>En masse kloge ord</p>
	</body>
</html>
