---
import Navbar from "../components/Navbar.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="generator" content={Astro.generator} />

    <title>Valby IF</title>
    <link rel="stylesheet" href="./src/css/generel.css" />
    <link rel="stylesheet" href="/src/css/index.css" />
  </head>
  <body>
    <div class="hero">
      <video autoplay loop muted plays-inline class="back-video">
        <source src="../public/imgs/testvideo.mp4" type="video/mp4" />
      </video>
      <header><Navbar /></header>
    </div>
    <main></main>

    <div class="farvelinje1">
      <img src="../public/imgs/farvelinje.svg" alt="" />
    </div>
    <div class="welcome">
      <h1>Velkommen til Valby IF</h1>
      <h3>Fællesskab fødes når jeg bliver til os</h3>
    </div>

    <section class="nyheder">
      <h2>Nyheder</h2>
      <div class="nyheder_container">
        <div class="nyheder_box">
          <img src="../public/imgs/nyhed1.png" alt="" />
          <h5>Information vedrørende tilmeldinger</h5>
          <a href="">Læs mere</a>
        </div>
        <div class="nyheder_box">
          <img src="../public/imgs/nyhed2.png" alt="" />
          <h5>Information vedrørende tilmeldinger</h5>
          <a href="">Læs mere</a>
        </div>
        <div class="nyheder_box">
          <img src="../public/imgs/nyhed3.png" alt="" />
          <h5>Information vedrørende tilmeldinger</h5>
          <a href="">Læs mere</a>
        </div>
      </div>
    </section>

    <section class="info_container">
      <h2>Info om Valby IF og Gymnastik</h2>
      <div class="infovideo">
        <img
          class="triangle_background"
          src="../public/imgs/lightblue_triangle.svg"
          alt=""
        />
        <video controls class="infovideo">
          <source src="../public/imgs/test_infovideo.mov" type="video/mp4" />
        </video>
      </div>

      <section class="familien">
        <div class="familien_container">
          <h5>Valby IF - Familien</h5>
          <p>
            Alle undervisere og ansatte i Valby IF er superdedikerede. Og vi går
            faktisk ret meget op i, at du kommer til at rykke dig helt vildt –
            både personligt og fysisk. Nogen er vilde med at danse, andre er
            nogle rigtig akrobater, andre kan godt lide at danse.
          </p>
          <a href="/traenere.astro">Mød os alle her</a>
          <div class="familien_billeder">
            <img
              class="triangle_background2"
              src="../public/imgs/orangetrekant.svg"
              alt=""
            />
            <img src="../public/imgs/familientest.png" alt="" />
          </div>
        </div>
      </section>

      <footer></footer>
    </section>
  </body>
</html>
