---
import Navbar from "../components/Navbar.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="generator" content={Astro.generator} />

    <title>Valby IF</title>
    <link rel="stylesheet" href="./src/css/generel.css" />
    <link rel="stylesheet" href="/src/css/index.css" />
  </head>
  <body>
    <header><Navbar /></header>

    <main>
      <div class="nyheder_container">
        <div class="first_nyhed">
          <div class="nyheder_box_info">
            <img src="" alt="" />
            <h5>Nyhed nr 2</h5>
            <p>Lidt info og mange spændende ting om ting og sager</p>
            <a href="">Læs mere</a>
          </div>
        </div>

        <div class="second_third_nyhed">
          <div class="nyheder_box_info">
            <img src="" alt="" />
            <h5>Nyhed nr 2</h5>
            <p>Lidt info og mange spændende ting om ting og sager</p>
            <a href="">Læs mere</a>
          </div>
          <div class="nyheder_box_info">
            <img src="" alt="" />
            <h5>Nyhed nr 3</h5>
            <p>Lidt info og mange spændende ting om ting og sager</p>
            <a href="">Læs mere</a>
          </div>
        </div>

        <div class="previous_nyheder">
          <div class="previous_box">
            <img src="" alt="" />
            <h5>Nyhed nr 3</h5>

            <a href="">Læs mere</a>
          </div>
          <div class="previous_box">
            <img src="" alt="" />
            <h5>Nyhed nr 3</h5>

            <a href="">Læs mere</a>
          </div>
          <div class="previous_box">
            <img src="" alt="" />
            <h5>Nyhed nr 3</h5>

            <a href="">Læs mere</a>
          </div>
        </div>

        <div class="previous_nyheder">
          <div class="previous_box">
            <img src="" alt="" />
            <h5>Nyhed nr 3</h5>

            <a href="">Læs mere</a>
          </div>
          <div class="previous_box">
            <img src="" alt="" />
            <h5>Nyhed nr 3</h5>

            <a href="">Læs mere</a>
          </div>
          <div class="previous_box">
            <img src="" alt="" />
            <h5>Nyhed nr 3</h5>

            <a href="">Læs mere</a>
          </div>
        </div>

        <div class="previous_nyheder">
          <div class="previous_box">
            <img src="" alt="" />
            <h5>Nyhed nr 3</h5>

            <a href="">Læs mere</a>
          </div>
          <div class="previous_box">
            <img src="" alt="" />
            <h5>Nyhed nr 3</h5>

            <a href="">Læs mere</a>
          </div>
          <div class="previous_box">
            <img src="" alt="" />
            <h5>Nyhed nr 3</h5>

            <a href="">Læs mere</a>
          </div>
        </div>
      </div>
    </main>

    <footer></footer>
  </body>
</html>

<style>
  .nyheder_container {
    margin-top: 160px;
  }
  .first_nyhed {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .second_third_nyhed {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .second_third_nyhed .nyheder_box_info {
    display: flex;
    flex-direction: column;
  }

  .previous_nyheder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
</style>
