---
import "../css/generel.css"
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Farvev from "../components/Farvev.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon_valby.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="generator" content={Astro.generator} />

    <title>Valby IF</title>
  </head>

  <body>
    <header><Navbar /></header>

    <main>
      <section class="nyheder">
        <h1>Nyheder</h1>
        <div class="nyheder_container">
          <div class="nyheder_box1">
            <img src="/imgs/galleri_imgs/nyhedforside1.webp" alt="" />
            <h5>Information vedrørende tilmeldinger</h5>
            <a href="">Læs mere</a>
          </div>
          <div class="nyheder_box1 box_hide">
            <img src="/imgs/galleri_imgs/nyhedeforside2.webp" alt="" />
            <h5>TILMELDING TIL VIF-SUPPORT</h5>
            <a href="">Læs mere</a>
          </div>
          <div class="nyheder_box1 box_hide">
            <img src="/imgs/galleri_imgs/nyhedforside3.webp" alt="" />
            <h5>VIF generalforsamling</h5>
            <a href="">Læs mere</a>
          </div>
        </div>
      </section>
      <Farvev />
      <section class="nyheder2">
        <div class="tidligere_overskrift">
          <button id="showNyhederBox2Button">
            <h5>Tidligere nyheder</h5>
          </button>
        </div>
        <div class="line"></div>

        <div class="nyheder_container2 box_hide2">
          <div class="nyheder_box2">
            <img src="/imgs/nyhed1.png" alt="" />
            <h5>Information vedrørende tilmeldinger</h5>
            <a href="">Læs mere</a>
          </div>
          <div class="nyheder_box2 box_hide">
            <img src="/imgs/nyhed2.png" alt="" />
            <h5>Information vedrørende tilmeldinger</h5>
            <a href="">Læs mere</a>
          </div>
          <div class="nyheder_box2 box_hide">
            <img src="/imgs/nyhed3.png" alt="" />
            <h5>Information vedrørende tilmeldinger</h5>
            <a href="">Læs mere</a>
          </div>
          <div class="nyheder_box2">
            <img src="/imgs/nyhed1.png" alt="" />
            <h5>Information vedrørende tilmeldinger</h5>
            <a href="">Læs mere</a>
          </div>
          <div class="nyheder_box2 box_hide">
            <img src="/imgs/nyhed2.png" alt="" />
            <h5>Information vedrørende tilmeldinger</h5>
            <a href="">Læs mere</a>
          </div>
          <div class="nyheder_box2 box_hide">
            <img src="/imgs/nyhed3.png" alt="" />
            <h5>Information vedrørende tilmeldinger</h5>
            <a href="">Læs mere</a>
          </div>
          <div class="nyheder_box2">
            <img src="/imgs/nyhed1.png" alt="" />
            <h5>Information vedrørende tilmeldinger</h5>
            <a href="">Læs mere</a>
          </div>
          <div class="nyheder_box2 box_hide">
            <img src="/imgs/nyhed2.png" alt="" />
            <h5>Information vedrørende tilmeldinger</h5>
            <a href="">Læs mere</a>
          </div>
          <div class="nyheder_box2 box_hide">
            <img src="/imgs/nyhed3.png" alt="" />
            <h5>Information vedrørende tilmeldinger</h5>
            <a href="">Læs mere</a>
          </div>
          <div class="nyheder_box2 box_hide">
            <img src="/imgs/nyhed2.png" alt="" />
            <h5>Information vedrørende tilmeldinger</h5>
            <a href="">Læs mere</a>
          </div>
          <div class="nyheder_box2 box_hide">
            <img src="/imgs/nyhed3.png" alt="" />
            <h5>Information vedrørende tilmeldinger</h5>
            <a href="">Læs mere</a>
          </div>
          <div class="nyheder_box2 box_hide">
            <img src="/imgs/nyhed3.png" alt="" />
            <h5>Information vedrørende tilmeldinger</h5>
            <a href="">Læs mere</a>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
<style>
  main {
    margin-top: 160px;
  }

  .line {
    width: 200px;
    height: 4px;
    background-color: #0e1d52;
    margin: 20px 0;
  }

  .nyheder,
  .nyheder2 {
    margin: 60px auto 0px auto;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .nyheder h2 {
    text-align: center;
    margin-left: 20px;
  }

  .nyheder_container,
  .nyheder2 .nyheder_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px auto;
    max-width: 100%;
  }

  .nyheder_container2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px auto;
    max-width: 100%;
    flex-wrap: wrap;
  }

  .nyheder_box1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
    gap: 20px;
    margin: 20px;
    border-radius: 8px;
  }

  .nyheder_box2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: calc(25% - 40px);
    flex: 1;
    padding: 10px;
    border-radius: 8px;
  }

  .nyheder_box1 h5,
  .nyheder_box2 h5,
  .nyheder_box1 a,
  .nyheder_box2 a {
    margin: 10px 0px 0 0px;
  }

  .nyheder_box1 img {
    max-width: 100%;
  }

  .nyheder_2_box {
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    margin: 0 auto;
  }

  .flere_nyheder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
  }

  .flere_nyheder h5 {
    color: #6aa0df;
    font-size: 24px;
  }

  .flere_nyheder a {
    font-family: "Almarai_reg", sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  .nyheder_box2 a,
  .nyheder_box1 a {
    font-family: "Almarai_reg", sans-serif;
    font-size: 16px;
    font-weight: 600;
    align-self: center;
  }

  a:hover {
    transition: 0.3s;
    color: #fd7d20;
  }

  .tidligere_overskrift {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .box_hide2 {
    display: none;
  }

  button {
    padding: 6px 14px;
    background-color: #fd7d20;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  h5:hover {
    color: white;
    transition: 0.8s;
  }

  @media only screen and (max-width: 1200px) {
    .nyheder_box2 {
      width: calc(33.33% - 40px);
    }
  }
  @media only screen and (max-width: 900px) {
    .nyheder_container {
      flex-direction: column;
      align-items: center;
      gap: 14px;
    }

    .nyheder_container2 {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;
    }

    .nyheder_box2 {
      width: calc(50% - 60px);
      flex: 0 0 auto;
      margin: 4px;
    }

    .flere_nyheder {
      margin-bottom: -20px;
    }
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const showNyhederBox2Button = document.getElementById(
      "showNyhederBox2Button"
    );
    const nyhederContainer2 = document.querySelector(".nyheder_container2");

    showNyhederBox2Button.addEventListener("click", function () {
      nyhederContainer2.classList.toggle("box_hide2");
    });
  });
</script>
