---
import Navbar from "../components/Navbar.astro";
import Tilmeld from "../components/Tilmeld.astro";
import "../css/generel.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon_valby.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="generator" content={Astro.generator} />

    <title>Valby IF</title>
<<<<<<< HEAD
    <link rel="stylesheet" href="./src/css/generel.css" />
   
=======
>>>>>>> 159292f07ad4d1a40aa01fc7d2b4c839b4f4a327
  </head>
  <body>
    <header><Navbar /></header>


    <main>
     
      <Tilmeld />
    </main>

    <footer></footer>
  </body>
</html>
