---
import Navbar from "../components/Navbar.astro";
import Tilmeld from "../components/Tilmeld.astro";


const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="generator" content={Astro.generator} />

    <title>Valby IF</title>
    <link rel="stylesheet" href="./src/css/generel.css" />
    <link rel="stylesheet" href="/src/css/index.css" />
  </head>
  <body>
    <header><Navbar /></header>


    <main>
     
      <Tilmeld />
    </main>

    <footer></footer>
  </body>
</html>
