
<div class="container">
<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FCopenhagen&src=ZmJjOGMyZDA5NTMwMGFjNjU2NzkwZGU1NzQxNzE4NGE2YTMxM2YwZDJmMjNmNjA4MjEwNjRlZDc3Y2NmYjQ0MkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZGEuZGFuaXNoI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23F4511E&color=%237986CB" style="border:solid 1px #7777778d" width="800" height="600" ></iframe>
</div>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  iframe {
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
  }
</style>