<div class="circle_container1">
  <div class="circle">
    <div class="tekst_container">
      <div class="lille_tekst_container">
        <p class="lille_tekst">Husk det nu!</p>
        <div class="line"></div>
      </div>
      <p class="stor_tekst">tilmelding til sæson 2023-2024</p>
      <div class="line"></div>
      <div class="buttons">
        <button class="hold_button"> <a href="./hold">Hold</a></button>
        <button class="tilmeld_button"
          ><a href="./tilmelding">Tilmeld</a></button
        >
      </div>
    </div>
  </div>
</div>

<style>
  .circle {
    width: 240px;
    height: 240px;
    background-color: #395d94;
    border-radius: 50%;
    padding: 20px;
    transition: all 0.3s ease-in-out;
  }

  .circle:hover {
    transform: scale(1.05);
  }

  button {
    text-decoration: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    transition: 0.3s;
    color: #395d94;
    text-decoration: none;
  }
  .circle_container1 {
    position: absolute;
    top: 42%;
    right: 4%;
    transform: translateY(-14%);
    text-align: left;
  }
  .tekst_container {
    text-align: left;
  }

  .lille_tekst_container {
    display: flex;
    align-items: center;
  }

  .lille_tekst {
    margin: 20px 10px 6px 20px;

    font-size: 12px;
    color: white;
  }

  .line {
    width: 70px;
    background-color: white;
    height: 2px;
    box-shadow: none;
    margin-top: 12px;
  }

  .line:nth-child(3) {
    width: 80px;
    background-color: white;
    height: 2px;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .stor_tekst {
    margin-left: 20px;
    font-size: 28px;

    margin-bottom: 10px;
    color: #fd7d20;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .hold_button,
  .tilmeld_button {
    padding: 6px 14px;
    background-color: #fd7d20;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  @media only screen and (max-width: 900px) {
    .circle_container1 {
      display: none;
    }
  }
</style>
