<section class="Foelg_med_box">
  <div class="foelg_info_topbox">
    <h3>Følg med</h3>
    <div class="foelg_icon">
      <img class="icon" src="../public/imgs/share_icon.svg" alt="" />
      <img class="icon" src="../public/imgs/facebook_icon.svg" alt="" />
      <img class="icon" src="../public/imgs/instagram_icon.svg" alt="" />
    </div>
  </div>
  <div class="insta_box">
    <img class="instafoto" src="../public/imgs/valbyif4.png" alt="" />
    <img class="instafoto" src="../public/imgs/valbyif3.png" alt="" />
    <img class="instafoto" src="../public/imgs/valbyif2.png" alt="" />
    <img class="instafoto" src="../public/imgs/valbyif1.png" alt="" />
  </div>
</section>

<style>

  .foelg_icon {
margin-right: 110px;

  }
  .Foelg_med_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foelg_info_topbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-top: 40px;
  padding: 0;
}
.foelg_info_topbox h3 {
  margin-left: 110px;
  
}


.icon {
  width: 2.6rem;
}

.insta_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  padding: 2rem;
  margin: 1.8rem;
  gap: 1.8rem;
}

.insta_box img {
  flex: 1; 
  max-width: 12rem; 
  width: 100%; 
  height: auto; 
  margin: 0.5rem;
}

@media (max-width: 768px) {
  .insta_box {
    flex-direction: row;
    justify-content: center;
    margin: 24px;
    padding: 10px;
    gap: 0;
  }

  .insta_box img {
    max-width: 20%; 
  .foelg_info_topbox h3 {
  margin-left: 25px;
    
  
}

.foelg_icon {
margin-right: 25px;

  }
}

</style>
