
<div class="tekst">
  <h1>Kalender & Events</h1>
  <p>Hold dig opdateret på de kommende events og begivenheder</p>
</div>

<style>
  .tekst {
    display: grid;
    gap: 5px; /* Removes the gap between grid items */
  }

  h1 {
    font-size: 4.5rem;
    color: black;
    margin-bottom: 0; /* Removes the default bottom margin */
  }

  p {
    font-size: 1.4rem; /* Added 'rem' unit */
    color: black;
    margin-top: 0; /* Removes the default top margin */
  }
  
</style>