<header class="hero">
  
  
  <div class="hero-inner">
    
    <h1 class="hero-headline">Kalender</h1>
    
    
  </div>
  
</header>

<style>

    .hero {
  background: linear-gradient(#0006, #0006), url("../imgs/FACE.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-inner {
  

  padding: 0 1.5rem;
}

.hero-headline {
  margin: 0;
  color: #fff;
  font-weight: 400;
}

h1 {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 5.2rem;
}

</style>