<section class="info_container">
  <h2>Info om Valby IF og Gymnastik</h2>
  <div class="infovideo_container">
    <img
      class="triangle_background"
      src="/imgs/lightblue_triangle.svg"
      alt=""
    />
    <video controls class="infovideo">
      <source src="/imgs/test_infovideo.mov" type="video/mp4" />
    </video>
  </div>
</section>

<style>
  .info_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    
    
  }

  .info_container h2 {
    margin: -10px;
   
  }

  .infovideo_container {
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
  }

  .triangle_background {
   position: absolute;
    justify-self: center;
    align-self: center;
    top: -100px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1; 
  }

  .infovideo {
     width: 100%;
    padding: 80px 300px 0 300px;
    z-index: 1;
  }

  @media only screen and (max-width: 900px) {
    .info_container {
      margin: 0;
      padding: 0;
    }

     .info_container h2 {
    margin: 30px;
   
  }

    .triangle_background {
   
    top: 10px;
    }
    .infovideo {
      padding: 0 40px;
    }
  }
</style>
