<section class="nyhedsbrev_box">
  <h5>Meld dig til vores nyhedsbrev</h5>
  <form action="">
    <label for="email"></label>
    <input type="email" id="email" name="email" placeholder="E-mail her" />
  </form>
  <p>Du accepterer vores vilkår når du tilmelder dig</p>
  <button>Tilmeld</button>
</section>

<style>
  .nyhedsbrev_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nyhedsbrev_box p {
    margin: 0 50px;
    font-size: 1rem;
  }

  form {
    margin: 20px;
  }

  button {
    background-color: #132e55;
    border: none;
    color: white;
    padding: 12px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    margin: 1.2rem;
  }

  button:hover {
    transition: 0.3s;
    background-color: #fd7d20;
    border: none;
    color: black;
  }
</style>
