---
import Farvem from "../components/Farvem.astro";
---

<section class="nyheder">
  <h2>Nyheder</h2>
  <div class="line"></div>
  <div class="nyheder_container">
    <div class="nyheder_box2">
      <img src="/imgs/galleri_imgs/nyhedforside1.webp" alt="" />
      <h5>Information vedrørende tilmeldinger</h5>
      <a href="">Læs mere</a>
    </div>
    <div class="nyheder_box2 box_hide">
      <img src="/imgs/galleri_imgs/nyhedeforside2.webp" alt="" />
      <h5>Tilmelding til VIF Support 23/24 åbner 14. JUNI</h5>
      <a href="">Læs mere</a>
    </div>
    <div class="nyheder_box2 box_hide">
      <img src="/imgs/galleri_imgs/nyhedforside3.webp" alt="" />
      <h5>VIF generalforsamling</h5>
      <a href="">Læs mere</a>
    </div>
  </div>
  <div class="flere_nyheder">
    <h5>Flere nyheder</h5>
    <a href="./nyheder">Klik her</a>
    <div class="linje">
      <Farvem />
    </div>
  </div>
</section>

<style>
  .line {
    width: 200px;
    height: 4px;
    background-color: #0e1d52;
  }
  .nyheder {
    margin: 60px auto 0px auto;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .nyheder h2 {
    text-align: center;
    margin-bottom: -60px;
    margin-left: 20px;
  }

  .nyheder_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 100px auto;
    max-width: 100%;
  }

  .nyheder_box2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
    gap: 20px;
    margin: 20px;

    border-radius: 8px;
    width: 20%;
    flex: 1;
  }

  .nyheder_box1 h5,
  .nyheder_box2 h5,
  .nyheder_box1 a,
  .nyheder_box2 a {
    margin: 10px 0px 0 0px;
  }

  .nyheder_box1 img {
    max-width: 100%;
  }

  .nyheder_2_box {
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    margin: 0 auto;
  }

  .nyheder_2_box .nyheder_box2:nth-child(2) {
    margin: 10px;
  }

  .flere_nyheder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
  }

  .flere_nyheder h5 {
    color: #6aa0df;
    font-size: 24px;
  }

  .flere_nyheder a {
    font-family: "Almarai_reg", sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  .nyheder_box2 a {
    font-family: "Almarai_reg", sans-serif;
    font-size: 16px;
    font-weight: 600;
    align-self: center;
  }

  a:hover {
    transition: 0.3s;
    color: #fd7d20;
  }

  @media only screen and (max-width: 900px) {
    .nyheder_container {
      flex-direction: column;
      align-items: center;
      gap: 14px;
    }

    .nyheder_box2 {
      width: 100%;
      width: 340px;
    }

    .nyheder_box2 img {
      width: 300px;
      align-self: center;
      justify-self: center;
    }

    .box_hide {
      display: none;
    }

    .flere_nyheder {
      margin-bottom: -20px;
    }
  }
</style>
