* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: "PoetsenOne";
  src: url("/fonts/PoetsenOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Almarai_reg";
  src: url("/fonts/Almarai-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Almarai_bold";
  src: url("/fonts/Almarai-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: "Almarai_light";
  src: url("/fonts/Almarai-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

/* Extra Bold */
@font-face {
  font-family: "Almarai_extra_bold";
  src: url("/fonts/Almarai-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "AlfaSlabOne";
  src: url("/fonts/Almarai-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: black;
  background-color: #d9d9d9;
}

h1 {
  font-family: "PoetsenOne", sans-serif;
  font-size: 50px;
  color: #0e1d52;
}

h2 {
  font-family: "PoetsenOne", sans-serif;
  font-size: 35px;
  color: #0e1d52;
}

h3 {
  font-family: "PoetsenOne", sans-serif;
  font-size: 28px;
  color: #395d94;
  font-weight: 400;
}

h5 {
  font-family: "Almarai_reg", sans-serif;
  font-size: 20px;
  color: #0e1d52;
}

p {
  font-family: "Almarai_reg", sans-serif;
  font-size: 25px;
  color: #0e1d52;
}

a {
  color: #0e1d52;
}

.husknusaeson {
  font-family: "AlfaSlabOne", sans-serif;
  font-size: 25px;
  color: rgb(255, 255, 255);
}
