* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: "PoetsenOne";
  src: url("/fonts/PoetsenOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Almarai_reg";
  src: url("/fonts/Almarai-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Almarai_bold";
  src: url("/fonts/Almarai-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: "Almarai_light";
  src: url("/fonts/Almarai-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

/* Extra Bold */
@font-face {
  font-family: "Almarai_extra_bold";
  src: url("/fonts/Almarai-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "AlfaSlabOne";
  src: url("/fonts/Almarai-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: black;
  background-color: #d9d9d9;
}

h1 {
  font-family: "PoetsenOne", sans-serif;
  font-size: 50px;
  color: #0e1d52;
}

h2 {
  font-family: "PoetsenOne", sans-serif;
  font-size: 35px;
  color: #0e1d52;
}

h3 {
  font-family: "PoetsenOne", sans-serif;
  font-size: 28px;
  color: #395d94;
  font-weight: 400;
}

h5 {
  font-family: "Almarai_reg", sans-serif;
  font-size: 20px;
  color: #0e1d52;
}

p {
  font-family: "Almarai_reg", sans-serif;
  font-size: 25px;
  color: #0e1d52;
}

a {
  color: #0e1d52;
}

.husknusaeson {
  font-family: "AlfaSlabOne", sans-serif;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

/* Style for gallery */

.container {
  margin-top: 160px;
  position: relative;
  min-height: 100vh;
  background: #ddd;
}

.container h1,
h2 {
  padding: 15px;
  text-align: center;
}

.container .video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
}

.container .video-wrapper {
  max-width: 350px;
  width: 100%;
  height: 200px;
}

.container .video-wrapper iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

.container .image-container .image {
  height: 250px;
  width: 350px;
  border: 5px solid #fff;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

.container .image-container .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.container .image-container .image:hover img {
  transform: scale(1.1);
}

.container .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: none;
}

.container .popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 1001;
}

.container .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  object-fit: cover;
  max-height: 80vh;
  width: auto;
  max-width: 90%;
}

@media (max-width: 768px) {
  .container .video-container .video-wrapper {
    max-width: none;
  }

  .container .popup-image img {
    width: 95%;
  }
}
