.farvelinje1 img {
  margin: 30px 30px 30px 0;

  max-width: 70%;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome h1 {
  font-size: 80px;


}

.welcome h3 {
  font-size: 36px;



}

h3 span {
  color: #fd7d20;
}

.hero {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@media only screen and (max-width: 900px) {

  .welcome h1 {
    font-size: 45px;


  }

  .welcome h3 {
    font-size: 26px;
  }


  .hero {
    height: 36vh;
    width: auto;
  }

  .back_video {
    height: 100%;
  }
}


@media only screen and (max-width: 600px) {
  .welcome h1 {
    font-size: 35px;

  }

  .welcome h3 {
    font-size: 20px;
  }

}